/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

/* UTILITY */

.p-10 {
  padding: 1rem;
}

.p-20 {
  padding: 2rem;
}

.pr-10 {
  padding-right: 1rem;
}

.pl-10 {
  padding-left: 1rem;
}

.m-10 {
  margin: 1rem;
}

.m-20 {
  margin: 2rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.text-justify {
  text-align: justify;
}
